/* KalipsoNext Style */
@charset 'utf-8';

/* manrope-200 - latin-ext_latin */
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/manrope/manrope-v8-latin-ext_latin-200.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/manrope/manrope-v8-latin-ext_latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/manrope/manrope-v8-latin-ext_latin-200.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/manrope/manrope-v8-latin-ext_latin-200.woff') format('woff'), /* Modern Browsers */
       url('../fonts/manrope/manrope-v8-latin-ext_latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/manrope/manrope-v8-latin-ext_latin-200.svg#Manrope') format('svg'); /* Legacy iOS */
}
/* manrope-300 - latin-ext_latin */
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/manrope/manrope-v8-latin-ext_latin-300.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/manrope/manrope-v8-latin-ext_latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/manrope/manrope-v8-latin-ext_latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/manrope/manrope-v8-latin-ext_latin-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/manrope/manrope-v8-latin-ext_latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/manrope/manrope-v8-latin-ext_latin-300.svg#Manrope') format('svg'); /* Legacy iOS */
}
/* manrope-500 - latin-ext_latin */
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/manrope/manrope-v8-latin-ext_latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/manrope/manrope-v8-latin-ext_latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/manrope/manrope-v8-latin-ext_latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/manrope/manrope-v8-latin-ext_latin-500.woff') format('woff'), /* Modern Browsers */
       url('../fonts/manrope/manrope-v8-latin-ext_latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/manrope/manrope-v8-latin-ext_latin-500.svg#Manrope') format('svg'); /* Legacy iOS */
}
/* manrope-regular - latin-ext_latin */
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/manrope/manrope-v8-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/manrope/manrope-v8-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/manrope/manrope-v8-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/manrope/manrope-v8-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/manrope/manrope-v8-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/manrope/manrope-v8-latin-ext_latin-regular.svg#Manrope') format('svg'); /* Legacy iOS */
}
/* manrope-600 - latin-ext_latin */
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/manrope/manrope-v8-latin-ext_latin-600.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/manrope/manrope-v8-latin-ext_latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/manrope/manrope-v8-latin-ext_latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/manrope/manrope-v8-latin-ext_latin-600.woff') format('woff'), /* Modern Browsers */
       url('../fonts/manrope/manrope-v8-latin-ext_latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/manrope/manrope-v8-latin-ext_latin-600.svg#Manrope') format('svg'); /* Legacy iOS */
}
/* manrope-700 - latin-ext_latin */
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/manrope/manrope-v8-latin-ext_latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/manrope/manrope-v8-latin-ext_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/manrope/manrope-v8-latin-ext_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/manrope/manrope-v8-latin-ext_latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/manrope/manrope-v8-latin-ext_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/manrope/manrope-v8-latin-ext_latin-700.svg#Manrope') format('svg'); /* Legacy iOS */
}
/* manrope-800 - latin-ext_latin */
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/manrope/manrope-v8-latin-ext_latin-800.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/manrope/manrope-v8-latin-ext_latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/manrope/manrope-v8-latin-ext_latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/manrope/manrope-v8-latin-ext_latin-800.woff') format('woff'), /* Modern Browsers */
       url('../fonts/manrope/manrope-v8-latin-ext_latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/manrope/manrope-v8-latin-ext_latin-800.svg#Manrope') format('svg'); /* Legacy iOS */
}

:root {
  --transition:  0.2s ease-out;

  --main-color: #4FACFE;
  --main-color-2: #00F2FE;
  --dark-color: #151515;
  --white-color: #ffffff;
  --nprogress-color: #4FACFE;

  --main-dark-color: #376d9c;
  --main-dark-color-04: rgb(55 109 156 / 40%);

  --kn-white-color: #f1f1f1;
  --kn-white-color-2: #ddd;

  --rgb-white-0: rgba(255,255,255,0);
  --rgb-white-01: rgba(255,255,255,0.1);
  --rgb-white-02: rgba(255,255,255,0.2);
  --rgb-white-02: rgba(255,255,255,0.2);
  --rgb-black-01: rgba(0,0,0,0.1);
  --rgb-black-02: rgba(0,0,0,0.2);

  --rgb-main-color-025: rgba(79,172,254,0.25);
}

body {
  font-family: 'Manrope', sans-serif;
  background: var(--kn-white-color);
  color: var(--dark-color);
  margin-top: 4rem;
}

a {
  text-decoration: none !important;
}

/* Nprogress */
#nprogress .bar {
  background: var(--nprogress-color);
}

#nprogress .peg {
  box-shadow: 0 0 10px var(--nprogress-color), 0 0 5px var(--nprogress-color);
}

#nprogress .spinner-icon {
  border-top-color: var(--nprogress-color);
  border-left-color: var(--nprogress-color);
}

/* Basics */
.btn-link {
  color: var(--main-dark-color);
}

.btn-primary {
  background: var(--kn-white-color);
  border: 0;
  color: var(--main-dark-color);
}

.btn-primary:hover,
.btn-primary:focus {
  background: var(--main-dark-color);
  color: var(--kn-white-color);
}

.btn-outline-primary {
  border-color: var(--main-dark-color);
  color: var(--main-dark-color);
}

.btn-outline-primary:hover,
.btn-outline-primary:focus {
  border-color: var(--main-dark-color);
  background: var(--main-dark-color);
  color: var(--kn-white-color);
}

.btn {
  font-weight: 600;
}

.btn:focus {
  box-shadow: none !important;
}

.btn-link:hover,
.btn-link:focus {
  color: var(--dark-color);
}

.form-control {
  color: var(--dark-color);
  background-color: var(--white-color);
  border: 2px solid var(--kn-white-color);
}

.form-control:hover {
  border-color: var(--main-color);
}

.form-control:focus {
  color: var(--dark-color);
  background-color: var(--white-color);
  border-color: var(--main-color);
  box-shadow: 0 0 0 0.25rem var(--rgb-main-color-025);
}

/* Navigation */
.kn-nav {
  background: var(--dark-color);
  color: var(--white-color);
}

.kn-nav .navbar-nav .nav-item .nav-link {
  border-radius: 0.2rem;
  background: var(--rgb-white-0);
}

.kn-nav .navbar-nav .nav-item .nav-link:hover {
  background: var(--rgb-white-01);
}

.kn-nav .navbar-nav .nav-item .nav-link:focus,
.kn-nav .navbar-nav .nav-item .nav-link.active {
  background: var(--rgb-white-02);
}

.kn-nav .navbar-nav .nav-item + .nav-item {
  margin-left: 0.4rem;
}

.kn-nav .navbar-nav .vr {
  margin: 0 0.3rem;
}

/* Account Pages */
.account-pages {
  min-height: 80vh;
}

.account-pages .card {
  margin: 5rem 0;
}

/* Card */
.kn-card {
  box-shadow: 0 1rem 2rem var(--rgb-main-color-025);
  border-color: var(--main-dark-color-04);
}

.kn-card .card-header {
  background: var(--kn-white-color);
  border-bottom: 1px solid var(--kn-white-color-2);
}

.kn-card .card-footer {
  background: var(--kn-white-color);
  border-top: 1px solid var(--kn-white-color-2);
  opacity: 0.4;
  transition: var(--transition);
}

.kn-card .card-footer:hover {
  opacity: 1;
}